<H1> The Pitch. Make Your Case, Get Your Dream Job </h1>

<%= link_to "Job Seeker Login", userlogin_path %>
<%= link_to "New Job Seeker? Create Account", new_user_path %> <br>
<%= link_to "Employer Login", employerlogin_path %>
<%= link_to "New Employer? Create Account", new_employer_path %>