<div class="sneak_peak">

<h1> The Pitch. Make Your Case. Get Your Dream Job. </h1>
</div>


<div class="container">
			<!--  Carousel - consult the Twitter Bootstrap docs at 
	      http://twitter.github.com/bootstrap/javascript.html#carousel -->
	      <hr class="divider" style="color:red; border: 10px 0px 10px 0px"></hr>
	<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->

	      <%= image_tag ("background3.jpeg") %>	
	      <div class="carousel-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag ("background2.jpeg") %>	
	      <div class="carousel-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag ("background1.jpeg") %>	
	      <div class="carousel-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag ("background0.jpeg") %>	
	      <div class="brett-caption">
	        <p>Caption text here</p>
	      </div>
	    </div>
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
	    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
	</div><!-- /.carousel -->

</div>




