<h1> The Pitch. Make Your Case, Get Your Dream Job </h1>


<div class="btn-group btn-group-vertical btn-custom">
  <button class="btn"><%= link_to "Job Seeker Login", userlogin_path %></button>
  <button class="btn"><%= link_to "New Job Seeker? Create Account", new_user_path %></button>
</div>

<div class="btn-group btn-group-vertical btn-custom">
  <button class="btn"><%= link_to "Employer Login", employerlogin_path %></button>
  <button class="btn"><%= link_to "New Employer? Create Account", new_employer_path %></button>
</div>


