<!DOCTYPE html>
<html>
  <head>
    <title>Mockup Home Page</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/home.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Mockup Homepage</h1>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

 


	<div class="container-fluid">
	  <div class="row-fluid">
	  	<div class="sidebar_content">
	    	<div class="span2">
	      	<!--Sidebar content-->
	    	</div>
	    </div>
	    <div class="content">
		    <div class="span10">
		      <!--Body content-->
		    </div>
	  	</div>
	</div>

  </body>
</html>