$('.row-fluid').hide();
$('#new_prompt_link').show();
$('#existing_prompts').append('<li><%= @prompt.custom_question %><br><%= @prompt.custom_answer %><br><%= link_to "Delete this Prompt", prompt_url(@prompt.id), method: "delete" %><br></li>');
