<h1> Hate your job? Find a new one below</h1>

<% @jobs.each do |job| %>
 Title: <h3><%= job.title %></h3>
 Description: <%= job.description %> </br></br>
 <%= link_to "Details", job_url(job.id) %><br> <br>
<% end %>
