<h1> Hate your job? Find a new one below</h1>
<div id='notice'><%=flash[:notice]%></div>
<div class="job_list">
	<table class="table table-hover">
	<% @jobs.each do |job| %>
		<tr>
		<td>	
		 <ul>Title:<%= job.title %>|
		 <%= link_to "Details", job_url(job.id) %></ul>
		 <ul>Description: <%= job.description %> <ul>
		</td>
		</tr>
		<% end %>
	</table>
</div>






