
<h1> A Pitch From <%=@pitch.user.first_name %></h1>
<b>Pitch Headline:</b> <%= @pitch.headline %><br>
<b> Photo: </b><br>
<%= image_tag @pitch.profilepic.url %>
<b> <%#= link_to "Create View Link", shorten_url(@pitch.id), html_options = { :method => "post" } %>
<br>

Like what you see? <br> 
Email this candidate at <%= link_to @pitch.user.email, "mailto:#{@pitch.user.email}" %>

