
<h1> A Pitch </h1>
<b>Pitch Headline:</b> <%= @pitch.headline %><br>
<b>User ID:</b> <%= @pitch.user_id %><br>
<b>Job ID:</b> <%= @pitch.job_id %><br>
<b> Photo: </b><br>
<%= image_tag @pitch.profilepic.url %>



