<p><strong>User Name:</strong><br>
  <%= @user.first_name %> <%= @user.last_name%>  
</p>

<p><strong>Contact Info:</strong><br>
  <%= @user.email%>  
</p>

<p><strong>Pitches:</strong><br>
  Insert embedded ruby for Pitch once we're linked up
</p>

<p><strong>Jobs:</strong><br>
  Insert embedded ruby for Jobs once we're linked up
</p>

<p><strong>Other Stuff:</strong><br>
  Insert embedded ruby for Other Stuff once we're linked up
</p>