html {   
	padding: 0px;
	margin: 0px;
}


 
body {
	/*background-color: black;*/
	/*background-image: url("/assets/black_paper.png");*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:  absolute;
	float: center;
	background-size: cover;
	font-size: 20px;
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
}


a:link {
	text-decoration:none; 
	font-weight: normal; 
	font-family: 'Montserrat Alternates', sans-serif;
	}


a:visited {
	text-decoration:none; 
	
	}

a:hover {
	text-decoration: none;
	color:#5BC0DE;
	


	}

a:active {
	text-decoration:none; 
	
}

h1 {
	background-color: white;
	color: black;
/*	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;*/
    /*border-radius: 5px;*/
    text-align: center;
    font-family: Helvetica;
}


.info {
	background-color: white;
}

table {
	background-color: gray;
	color: black;
}


.sneak_peak {
	height: 300px;
	background-image: url("/assets/background6.jpeg");
	background-repeat: no-repeat;
	background-position:  absolute;
	float: center;
	background-size: cover;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 24px;
}

a:active, 
.user_form {
	color: black;
	font-family: 'Montserrat Alternates', sans-serif;
}

.right_sidebar {
	background-image: url("/assets/background2.jpeg");
	height: 400px;
	background-size: cover;
}

#slogan, 
.title {
	color: white;
}

.jumbotron, 
.marketing {
	background-color: white;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


.pic {
	background-color: green;
}

.headline {
	background-color: red;
}

.carousel-inner img{
	height: 300px;
	width:100%; 
	
	/*background-repeat: no-repeat;
	background-position:  absolute;
	background-size: cover;*/
}



#landingslider{
	width: 800px;
}

.landingform{
	padding: 20px;
}

.carousel-caption h2{
	text-align: center;
	color: white;
	font-weight: lighter;
	font-family:'Helvetica Neue';
}

.img-circle {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.profiles{
	margin: auto;
}
/*
.profstyle{
	padding-top: 10px;
	border: 1px dashed black;
	height: 400px
}*/

.navbar a, .navbar .pull-right .divider-vertical a {
	color: white;

}

.navbar a:hover, .navbar .pull-right .divider-vertical a:hover{
	color:#5BC0DE;
}

.table-hover {
	color: black;
	background-color: #DEE8DD;
}
.left_bar {
	background-color: red;
	height: 100%;
}


.table {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
