html {   
	padding: 0px;
	margin: 0px;
}


 
body {
	background-color: black;
	background-image: url("/assets/black_paper.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:  absolute;
	float: center;
	background-size: cover;
	font-size: 20px;
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
}


a:link {
	text-decoration:none; 
	color: #ff7400; 
	font-weight: normal; 
	font-family: 'Montserrat Alternates', sans-serif;
	}

a:visited {
	text-decoration:none; 
	color: #ff7400;
	}

a:hover {
	text-decoration: none; 
	color: black; 
	background-color: white;
	}

a:active {
	text-decoration:none; 
	color: ##FF7400;
	}

h1 {
	background-color: white;
	color: black;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.info {
	background-color: white;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
}

table {
	background-color: gray;
	color: black;
}

.sneak_peak {
	height: 300px;
	background-image: url("/assets/background6.jpeg");
	background-repeat: no-repeat;
	background-position:  absolute;
	float: center;
	background-size: cover;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 24px;
}

.btn-group btn-group-vertical btn-custom {
	
	text-align: right;
}

.span6 .offset3 .well .user_form {
	color: black;
	font-family: 'Montserrat Alternates', sans-serif;
}

.right_sidebar {
	background-image: url("/assets/background2.jpeg");
	height: 400px;
	background-size: cover;
}